.experience-header{
    width: 100%;
    padding: 200px 148px 0px 148px;
    margin: 0px 0px 400px 0px;
}

.learning-tile{
    width: 100%;
    padding: 60px;
    background-color: rgba(46,52,57,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    border-radius: 40px;
}

.experience-tile{
    width: 100%;
    padding: 60px;
    background-color: rgba(46,52,57,1);
    display: flex;
    gap: 60px;
    border-radius: 40px;
}

.capability-tile{
    width: 100%;
    padding: 60px;
    background-color: rgba(46,52,57,1);
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-radius: 40px;
}

.experience-profile{
    min-width: 24%;
    display: flex;
    align-items: center;
    gap: 36px;
}

.centered-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.left-text-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-image{
    width: 100px;
    height: auto;
}

.separator{
    min-width: 1px;
    min-height: 100%;
    background-color: rgba(77, 94, 114, 1);
    border-radius: 100%;
}

.experience-list{
    list-style-type: disc;
}

.scroll-down-experience{
    position: absolute;
    top: 12%;
    right: -2%;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(111, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.scroll-down-experience:hover{
    transform-origin: center;
    width: 200px;
    height: 200px;
    top: 14.5%;
    right: 3%;
    background-color: rgb(111, 255, 212);
}

// Typography
.experience-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgba(255,255,255,1);
    margin-bottom: 36px;
}

.centered-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(255,255,255,1);
    line-height: 1.2rem;
    text-align: center;
}

.centered-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    line-height: 1.2rem;
    text-align: center;
}

// Responsive
@media screen and (max-width: 1280px) {
    .learning-tile{
        width: 100%;
        padding: 36px;
        gap: 24px;
    }
    .profile-image{
        width: 60px;
    }
    .centered-title{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .centered-description{
        font-size: .8rem;
    }
    .experience-tile{
        padding: 36px;
        gap: 24px;
    }
    .experience-profile{
        min-width: 24%;
        gap: 24px;
        flex-direction: column;
        align-items: start;
    }
    .experience-description{
        width: 60%;
    }
    .left-text-container{
        gap: 4px;
    }
    .experience-list{
        margin-left: 24px;
    }
    .capability-tile{
        padding: 36px;
        gap: 24px;
    }
}

@media screen and (max-width: 1024px){
    .experience-header{
        padding: 200px 36px 0px 36px;
    }
    .scroll-down-experience{
        top: 16%;
        width: 300px;
        height: 300px;
    }
    .experience-subtitle{
        font-size: 2rem;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    .experience-tile{
        flex-direction: column;
        align-items: center;
    }
    .experience-profile{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .experience-description{
        width: 100%;
    }
    .separator{
        min-width: 100%;
        min-height: 1px;
    }
    .scroll-down-experience{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .experience-subtitle{
        font-size: 1.5rem;
    }
    .experience-profile{
        flex-direction: column;
        align-items: center;
    }
    .left-text-container{
        align-items: center;
        text-align: center;
    }
}