.landing-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero-hidden{
    transform: scale(1.2);
    transition: all 1s;
}

.hero-reveal{
    transform: scale(1);
}

.hero-row{
    display: flex;
    gap: 36px;
}

.landing-hero > .first{
    margin-right: 400px;
}

.landing-hero > .second{
    margin-left: 500px;
}

.landing-hero > .third{
    margin-right: 360px;
}

.landing-hero > .fourth{
    margin-left: 300px;
}

#text:has(.over:hover) .hero-title:not(.over:hover) {
    opacity: 0.1;
}

@keyframes background-pan {
    from {
        background-position: 1000% center;
    }

    to {
        background-position: 0% center;
    }
}

.over:hover{
    background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
    background-size: 1000%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 50s linear infinite;
}

.name:hover{
    transform: scale(1.2);
}

.design:hover{
    transform: scale(1.2);
}

.develop:hover{
    transform: scale(1.2);
}

.draw:hover{
    transform: scale(1.2);
}

.scroll-down{
    position: absolute;
    top: 12%;
    left: -4%;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(111, 255, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.scroll-down:hover{
    transform-origin: center;
    width: 200px;
    height: 200px;
    top: 14.5%;
    left: 1.2%;
    background-color: rgb(111, 255, 212);
}

.landing-image-container{
    width: 36%;
    height: 560px;
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    translate: -24% -24%;
    overflow: hidden;
    border-radius: 40px;
    pointer-events: none;
}

.landing-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.5);
    transition: all .8s;
    position: absolute;
}

.work-title-section{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0px 400px 0px;
}

.landing-project-section{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 320px;
    padding: 0px 148px;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-subtitle-section {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;
}

.contact-title-section {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 200px 0px;
    text-decoration: none;
}

.scroll-title-container{
    position: absolute;
    z-index: -1;
    overflow: hidden;
    transform-origin: center;
    transform: rotate(-3deg);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll-row{
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.scroll-title-container > .scroll-row > .row-1{
    animation: scrollTextRight 20s infinite linear;
}

.scroll-title-container > .scroll-row > .row-2{
    animation: scrollTextLeft 20s infinite linear;
}

// Project Tiles
.project-section{
    display: flex;
    align-items: center;
    gap: 60px;
}

.project-image-blocker{
    width: 80%;
    height: 720px;
    border-radius: 40px;
    overflow: hidden;
}

.project-image-container{
    position: absolute;
    width: 65%;
    height: 720px;
    border-radius: 40px;
    overflow: hidden;
    z-index: -3;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-container{
    width: 20%;
}

.project-detail{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
}

.project-button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: all .5s;
}

.project-button:hover{
    transform: scale(1.2) rotate(-10deg);
}

.title-hidden, .description-hidden, .tags-hidden, .button-hidden{
    transform: translate(-100px);
    opacity: 0;
    transition: all 1s;
}

.image-hidden{
    opacity: 0;
    transition: all 1s;
}

.title-reveal, .description-reveal, .tags-reveal, .button-reveal{
    transform: translate(0px);
    opacity: 1;
}

.image-reveal{
    transform: translate(0px);
    opacity: .9;
}

// Typography
.hero-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 8rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    transition: all 1s;
}

.hero-title-support{
    font-family: 'MuseoModerno', cursive;
    font-weight: 200;
    font-size: 8rem;
    font-style: italic;
    color: rgba(112,126,139,1);
    text-decoration: none;
}

.landing-section-title, .project-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 600;
    font-size: 12rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.landing-section-title{
    text-align: center;
    transition: all 1s;
}

.project-title{
    margin-left: -600px;
    margin-bottom: 60px;
}

.project-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: rgba(112,126,139,1);
    text-decoration: none;
    line-height: 1rem;
}

.project-tags{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: rgba(111,255,212,1);
}

.contact-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    text-decoration: none;
    text-align: center;
    line-height: 1.2rem;
}

.scroll-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 12rem;
    color: rgba(112,126,139,0);
    white-space: nowrap;
    -webkit-text-stroke: 1px #3D444B;
}

//Animation
@keyframes scrollTextRight {
    from { transform: translate(0%); }
    to { transform: translate(-50%); }
}

@keyframes scrollTextLeft {
    from { transform: translate(0%); }
    to { transform: translate(50%); }
}

// Responsive
@media screen and (max-width: 1280px) {
    .hero-title{
        font-size: 6rem;
    }
    .hero-title-support{
        font-size: 6rem;
    }
    .landing-hero > .first{
        margin-right: 200px;
    }
    
    .landing-hero > .second{
        margin-left: 300px;
    }
    
    .landing-hero > .third{
        margin-right: 200px;
    }
    
    .landing-hero > .fourth{
        margin-left: 100px;
    }
    .scroll-down{
        top: 14%;
    }
    .work-title-section{
        padding: 200px 0px 280px 0px;
    }
    .landing-project-section{
        gap: 160px;
        padding: 0px 36px;
    }
    .project-image-container{
        width: 72%;
        height: 500px;
    }
    .project-image-blocker{
        height: 500px;
    }
    .contact-subtitle-section{
        padding: 200px 0px 0px 0px;
    }
    .landing-section-title{
        font-size: 10rem;
    }
    .project-title{
        font-size: 10rem;
        margin-left: -500px;
    }
}

@media screen and (max-width: 1024px) {
    .hero-title{
        font-size: 5rem;
    }
    .hero-title-support{
        font-size: 5rem;
    }
    .landing-hero > .first{
        margin-right: 160px;
    }
    
    .landing-hero > .second{
        margin-left: 200px;
    }
    
    .landing-hero > .third{
        margin-right: 160px;
    }
    
    .landing-hero > .fourth{
        margin-left: 100px;
    }
    .scroll-down{
        top: 16%;
        width: 300px;
        height: 300px;
    }
    .work-title-section{
        padding: 200px 0px 200px 0px;
    }
    .landing-project-section{
        gap: 120px;
        padding: 0px 36px 0px 36px;
    }
    .project-image-container{
        width: 90%;
        height: 400px;
    }
    .project-image-blocker{
        width: 100%;
        height: 400px;
    }
    .contact-subtitle-section{
        padding: 100px 0px 0px 0px;
    }
    .landing-section-title{
        font-size: 8rem;
    }
    .project-title{
        font-size: 8rem;
        margin-left: 0px;
        margin-top: -80px;
        margin-bottom: 24px;
    }
    .project-description{
        width: 240px;
    }
    .project-section{
        flex-direction: column;
        gap: 0px;
    }
    .project-detail{
        margin-bottom: 24px;
        gap: 8px;
    }
    .support-wrapper{
        padding-right: 36px;
        display: flex;
        justify-content: space-between;
    }
    .detail-container{
        width: 100%;
        margin-left: 60px;
    }
    .project-button{
        margin-top: -24px;
        align-self: start;
    }
}

@media screen and (max-width: 768px) {
    .landing-hero{
        gap: 16px;
    }
    .hero-row{
        gap: 16px;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-title-support{
        font-size: 3rem;
    }
    .landing-hero > .first{
        margin-right: 80px;
    }
    .landing-hero > .second{
        margin-left: 100px;
    }
    .landing-hero > .third{
        margin-right: 50px;
    }
    .landing-hero > .fourth{
        margin-left: 40px;
    }
    .scroll-down{
        top: 20%;
    }
    .scroll-title{
        font-size: 8rem;
    }
    .landing-section-title{
        font-size: 5rem;
    }
    .landing-project-section{
        gap: 60px;
    }
    .project-image-container{
        height: 240px;
    }
    .project-image-blocker{
        height: 240px;
    }
    .project-title{
        font-size: 4rem;
        margin-top: -40px;
        margin-bottom: 16px;
    }
    .project-button{
        margin-top: -16px;
    }
}

@media screen and (max-width: 420px) {
    .landing-hero{
        gap: 8px;
    }
    .hero-row{
        gap: 8px;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-title-support{
        font-size: 2rem;
    }
    .landing-hero > .first{
        margin-right: 80px;
    }
    .landing-hero > .second{
        margin-left: 100px;
    }
    .landing-hero > .third{
        margin-right: 50px;
    }
    .landing-hero > .fourth{
        margin-left: 40px;
    }
    .scroll-down{
        display: none;
    }
    .work-title-section{
        padding: 0px 36px 160px 36px;
    }
    .project-title{
        margin-top: -24px;
        font-size: 3rem;
    }
    .project-description{
        font-size: .8rem;
        width: 180px;
    }
}