.landing-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero-row{
    min-width: 600px;
    display: flex;
    justify-content: space-between;
}

.work-title-section{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 400px 0px;
}

.landing-project-section{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 320px;
    padding: 0px 148px;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-subtitle-section {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;
}

.contact-title-section {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 200px 0px;
}

.scroll-title-container{
    position: absolute;
    z-index: -1;
    overflow: hidden;
    transform-origin: center;
    transform: rotate(-3deg);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll-row{
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.scroll-title-container > .scroll-row > .row-1{
    animation: scrollTextRight 20s infinite linear;
}

.scroll-title-container > .scroll-row > .row-2{
    animation: scrollTextLeft 20s infinite linear;
}

// Project Tiles
.project-section{
    display: flex;
    align-items: center;
    gap: 60px;
}

.project-image-container{
    width: 80%;
    height: 720px;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.detail-container{
    width: 20%;
}

.project-detail{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
}

.project-button{
    padding: 16px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

// Typography
.hero-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.landing-section-title, .project-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 600;
    font-size: 12rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.project-title{
    margin-left: -600px;
    margin-bottom: 60px;
}

.project-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    color: rgba(112,126,139,1);
    text-decoration: none;
    line-height: 1rem;
}

.project-tags{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: rgba(112,126,139,1);
}

.contact-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    text-decoration: none;
    text-align: center;
    line-height: 1.2rem;
}

.scroll-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 12rem;
    color: rgba(112,126,139,0);
    white-space: nowrap;
    -webkit-text-stroke: 1px #3D444B;
}

//Animation
@keyframes scrollTextRight {
    from { transform: translate(0%); }
    to { transform: translate(-50%); }
}

@keyframes scrollTextLeft {
    from { transform: translate(0%); }
    to { transform: translate(50%); }
}