nav{
    width: 100%;
    padding: 36px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.landing-home{
    width: 24px;
    height: auto;
    transition: all .5s;
    transform: scale(1);
}

.landing-home:hover{
    transform: scale(1.5) rotate(-10deg);
    color: white;
}

.nav-group{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.router-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.nav-outline{
    width: 30%;
    height: 2px;
    background-color: white;
    transform-origin: top left;
    transform: scale(0);
    transition: all .5s;
}

.nav-link-group{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 32px;
}

.social-link-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-link{
    width: 20px;
    height: auto;
    transition: all .5s;
}

.social-link:hover{
    transform: scale(1.5) rotate(-10deg);
}

// Footer
.footer{
    width: 100%;
    min-width: 100%;
    padding: 60px 148px 60px 148px;
    background-color: rgb(111,255,212);
}

.curve-top {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.curve-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.curve-top .shape-fill {
    fill: #6FFFD4;
}

.footer-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-up-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-icon{
    position: absolute;
    bottom: 180px;
}

.footer-text-container{
    display: flex;
    gap: 60px;
}

.footer-button{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-copy-right{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-hidden{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

.footer-reveal{
    opacity: 1;
    transform: translateY(0px);
}

// Typography
.router-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: rgba(112,126,139,1);
    text-decoration: none;
}

.footer-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: .8rem;
    color: rgba(24, 27, 30, 1);
    text-decoration: none;
}

.footer-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: rgba(24, 27, 30, 1);
    text-decoration: none;
}

.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: rgba(24, 27, 30, 1);
    text-decoration: none;
}