.project-header{
    width: 100%;
    padding: 100px 148px 0px 148px;
    margin: 0px 0px 200px 0px;
}

.header-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 16rem;
    color: rgba(255,255,255,1);
    position: absolute;
    margin-left: 100px;
}

.header-image{
    max-width: 100%;
    height: 960px;
    border-radius: 40px;
    margin-top: 180px;
    margin-bottom: 36px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 48px;
    gap: 16px;
}

.link-icon{
    width: 24px;
    height: auto;
}

.charm{
    background-image: url(@/assets/charm/header.png);
    background-position: center;
    background-size: cover;
}

.content-image{
    max-width: 100%;
    height: auto;
    border-radius: 40px;
}

.external-button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: all .5s;
}

.project-infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-subtitle-box{
    width: 50%;
}
.project-info{
    width: 30%;
    display: flex;
    flex-direction: row;
}

.text-gap{
    gap: 8px;
}

.col-title{
    width: 30%;
}

.video-wrapper{
    height: 920px;
    margin-bottom: 16px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0px;
}

.video-wrapper-sm{
    height: 400px;
    margin-bottom: 16px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0px;
}

.content-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mb-36{
    margin-bottom: 36px;
}

.image-container{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.takeaway-box{
    width: 50%;
    padding: 60px;
    background-color: rgba(46,52,57,1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-hidden{
    opacity: 0;
    transform: translate(-100px,0px);
    transition: all 1s;
}

.content-reveal{
    opacity: 1;
    transform: translate(0px, 0px);
}

// Typography
.project-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 1.8rem;
}

.detail-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.detail-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    line-height: 1.2rem;
    text-decoration: none;
}

.section-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 600;
    font-size: 6rem;
    color: rgba(255,255,255,1);
    line-height: 6.5rem;
    width: 90%;
}

// Responsive
@media screen and (max-width: 1280px) {
    .project-header{
        padding: 100px 36px 0px 36px;
    }
    .header-title{
        font-size: 10rem;
        margin-left: 40px;
    }
    .header-image{
        height: 600px;
        margin-top: 100px;
        padding: 36px;
    }
    .project-subtitle-box{
        width: 60%;
    }
    .project-info{
        width: 30%;
    }
    .project-subtitle{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .detail-title{
        font-size: .8rem;
        line-height: 1.2rem;
    }
    .detail-description{
        font-size: .8rem;
    }
    .video-wrapper{
        height: 540px;
    }
    .video-wrapper-sm{
        height: 240px;
    }
    .section-title{
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .takeaway-box{
        padding: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .project-header{
        margin-bottom: 100px;
    }
    .header-image{
        height: 520px;
        padding: 36px;
    }
    .project-info{
        gap: 8px;
    }
    .video-wrapper{
        height: 400px;
    }
    .video-wrapper-sm{
        height: 200px;
    }
    .col-title{
        width: 40%;
    }
    .section-title{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .takeaway-box{
        padding: 36px;
    }
    .mb-36{
        margin-bottom: 24px;
    }
    .image-container{
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .project-header{
        margin-bottom: 80px;
    }
    .header-title{
        position: static;
        font-size: 5rem;
        margin-left: 0px;
    }
    .header-image{
        margin-top: 24px;
        height: 300px;
        gap: 8px;
        padding: 24px;
    }
    .external-button{
        padding: 8px;
    }
    .project-infos{
        flex-direction: column;
        gap: 16px;
    }
    .project-subtitle-box{
        width: 100%;
    }
    .project-info{
        width: 100%;
    }
    .video-wrapper{
        height: 200px;
    }
    .col-title{
        width: 100%;
    }
    .section-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .takeaway-box{
        width: 100%;
    }
    .mb-36{
        margin-bottom: 16px;
    }
    .image-container{
        gap: 16px;
    }
}

@media screen and (max-width: 420px) {
    .header-title{
        font-size: 3rem;
    }
    .header-image{
        height: 160px;
    }
    .project-subtitle{
        font-size: .8rem;
        line-height: 1.5;
    }
    .text-gap{
        gap: 0px;
    }
    .detail-title{
        font-size: .6rem;
    }
    .detail-description{
        font-size: .6rem;
    }
    .video-wrapper{
        height: 140px;
    }
    .video-wrapper-sm{
        height: 140px;
    }
    .section-title{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .image-container{
        gap: 8px;
    }
}