@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=MuseoModerno:ital,wght@0,600;1,300&display=swap");
nav {
  width: 100%;
  padding: 36px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.landing-home {
  width: 36px;
  height: auto;
  transition: all 0.5s;
  transform: scale(1);
}

.landing-home:hover {
  transform: scale(1.5) rotate(-10deg);
  color: white;
}

.nav-group {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.router-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.nav-outline {
  width: 30%;
  height: 2px;
  background-color: white;
  transform-origin: top left;
  transform: scale(0);
  transition: all 0.5s;
}

.nav-link-group {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 32px;
}

.social-link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-link {
  width: 20px;
  height: auto;
  transition: all 0.5s;
}

.social-link:hover {
  transform: scale(1.5) rotate(-10deg);
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-message-container {
  width: 200px;
  position: absolute;
  margin: 0px 0px 0px 16px;
  margin-top: 20px;
}

.footer {
  width: 100%;
  min-width: 100%;
  padding: 60px 148px 60px 148px;
  background-color: rgb(111, 255, 212);
}

.curve-top {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.curve-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.curve-top .shape-fill {
  fill: #6FFFD4;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-up-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-icon {
  position: absolute;
  bottom: 200px;
  padding: 16px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #6FFFD4;
  overflow: hidden;
  transition: all 0.5s;
}

#up-icon {
  width: 24px;
  height: auto;
}

.footer-text-container {
  display: flex;
  gap: 60px;
}

.footer-button {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
}

.footer-copy-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}

.footer-reveal {
  opacity: 1;
  transform: translateY(0px);
}

.footer-outline {
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: rgb(24, 27, 30);
  margin-top: 80px;
  transform-origin: top left;
  transform: scale(0);
  transition: all 0.5s;
}

.router-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  color: rgb(24, 27, 30);
  text-decoration: none;
}

.footer-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(24, 27, 30);
  text-decoration: none;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(24, 27, 30);
  text-decoration: none;
}

.copy-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

@keyframes upArrowHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translate(-50%);
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 24px 36px 36px 36px;
  }
  .footer-icon {
    bottom: 140px;
  }
  .footer-text-container {
    gap: 24px;
  }
  .footer-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-link-group {
    gap: 16px;
  }
  .social-link-group {
    gap: 8px;
  }
  .footer {
    padding: 0px 36px 36px 36px;
  }
  .footer-icon {
    bottom: 100px;
  }
  .footer-text-container {
    gap: 16px;
  }
  .footer-button {
    gap: 4px;
  }
  .footer-title {
    font-size: 0.6rem;
  }
  .footer-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .social-link-group {
    display: none;
  }
  .footer-copy-right {
    width: 0px;
  }
}
.landing-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hero-hidden {
  transform: scale(1.2);
  transition: all 1s;
}

.hero-reveal {
  transform: scale(1);
}

.hero-row {
  display: flex;
  gap: 36px;
}

.landing-hero > .first {
  margin-right: 400px;
}

.landing-hero > .second {
  margin-left: 500px;
}

.landing-hero > .third {
  margin-right: 360px;
}

.landing-hero > .fourth {
  margin-left: 300px;
}

#text:has(.over:hover) .hero-title:not(.over:hover) {
  opacity: 0.1;
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  to {
    background-position: 0% center;
  }
}
.over:hover {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.name:hover {
  transform: scale(1.2);
}

.design:hover {
  transform: scale(1.2);
}

.develop:hover {
  transform: scale(1.2);
}

.draw:hover {
  transform: scale(1.2);
}

.scroll-down {
  position: absolute;
  top: 12%;
  left: -4%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(111, 255, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.scroll-down:hover {
  transform-origin: center;
  width: 200px;
  height: 200px;
  top: 14.5%;
  left: 1.2%;
  background-color: rgb(111, 255, 212);
}

.landing-image-container {
  width: 36%;
  height: 560px;
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  translate: -24% -24%;
  overflow: hidden;
  border-radius: 40px;
  pointer-events: none;
}

.landing-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.8s;
  position: absolute;
}

.work-title-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0px 400px 0px;
}

.landing-project-section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 320px;
  padding: 0px 148px;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-subtitle-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 100px 0px;
}

.contact-title-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 200px 0px;
  text-decoration: none;
}

.scroll-title-container {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  transform-origin: center;
  transform: rotate(-3deg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scroll-row {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.scroll-title-container > .scroll-row > .row-1 {
  animation: scrollTextRight 20s infinite linear;
}

.scroll-title-container > .scroll-row > .row-2 {
  animation: scrollTextLeft 20s infinite linear;
}

.project-section {
  display: flex;
  align-items: center;
  gap: 60px;
}

.project-image-blocker {
  width: 80%;
  height: 720px;
  border-radius: 40px;
  overflow: hidden;
}

.project-image-container {
  position: absolute;
  width: 65%;
  height: 720px;
  border-radius: 40px;
  overflow: hidden;
  z-index: -3;
}

.project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-container {
  width: 20%;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.project-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.project-button:hover {
  transform: scale(1.2) rotate(-10deg);
}

.title-hidden, .description-hidden, .tags-hidden, .button-hidden {
  transform: translate(-100px);
  opacity: 0;
  transition: all 1s;
}

.image-hidden {
  opacity: 0;
  transition: all 1s;
}

.title-reveal, .description-reveal, .tags-reveal, .button-reveal {
  transform: translate(0px);
  opacity: 1;
}

.image-reveal {
  transform: translate(0px);
  opacity: 0.9;
}

.hero-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 1s;
}

.hero-title-support {
  font-family: "MuseoModerno", cursive;
  font-weight: 200;
  font-size: 8rem;
  font-style: italic;
  color: rgb(112, 126, 139);
  text-decoration: none;
}

.landing-section-title, .project-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 12rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.landing-section-title {
  text-align: center;
  transition: all 1s;
}

.project-title {
  margin-left: -600px;
  margin-bottom: 60px;
}

.project-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  line-height: 1rem;
}

.project-tags {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(111, 255, 212);
}

.contact-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  text-align: center;
  line-height: 1.2rem;
}

.scroll-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 12rem;
  color: rgba(112, 126, 139, 0);
  white-space: nowrap;
  -webkit-text-stroke: 1px #3D444B;
}

@keyframes scrollTextRight {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}
@keyframes scrollTextLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(50%);
  }
}
@media screen and (max-width: 1280px) {
  .hero-title {
    font-size: 6rem;
  }
  .hero-title-support {
    font-size: 6rem;
  }
  .landing-hero > .first {
    margin-right: 200px;
  }
  .landing-hero > .second {
    margin-left: 300px;
  }
  .landing-hero > .third {
    margin-right: 200px;
  }
  .landing-hero > .fourth {
    margin-left: 100px;
  }
  .scroll-down {
    top: 14%;
  }
  .work-title-section {
    padding: 200px 0px 280px 0px;
  }
  .landing-project-section {
    gap: 160px;
    padding: 0px 36px;
  }
  .project-image-container {
    width: 72%;
    height: 500px;
  }
  .project-image-blocker {
    height: 500px;
  }
  .contact-subtitle-section {
    padding: 200px 0px 0px 0px;
  }
  .landing-section-title {
    font-size: 10rem;
  }
  .project-title {
    font-size: 10rem;
    margin-left: -500px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 5rem;
  }
  .hero-title-support {
    font-size: 5rem;
  }
  .landing-hero > .first {
    margin-right: 160px;
  }
  .landing-hero > .second {
    margin-left: 200px;
  }
  .landing-hero > .third {
    margin-right: 160px;
  }
  .landing-hero > .fourth {
    margin-left: 100px;
  }
  .scroll-down {
    top: 16%;
    width: 300px;
    height: 300px;
  }
  .work-title-section {
    padding: 200px 0px 200px 0px;
  }
  .landing-project-section {
    gap: 120px;
    padding: 0px 36px 0px 36px;
  }
  .project-image-container {
    width: 90%;
    height: 400px;
  }
  .project-image-blocker {
    width: 100%;
    height: 400px;
  }
  .contact-subtitle-section {
    padding: 100px 0px 0px 0px;
  }
  .landing-section-title {
    font-size: 8rem;
  }
  .project-title {
    font-size: 8rem;
    margin-left: 0px;
    margin-top: -80px;
    margin-bottom: 24px;
  }
  .project-description {
    width: 240px;
  }
  .project-section {
    flex-direction: column;
    gap: 0px;
  }
  .project-detail {
    margin-bottom: 24px;
    gap: 8px;
  }
  .support-wrapper {
    padding-right: 36px;
    display: flex;
    justify-content: space-between;
  }
  .detail-container {
    width: 100%;
    margin-left: 60px;
  }
  .project-button {
    margin-top: -24px;
    align-self: start;
  }
}
@media screen and (max-width: 768px) {
  .landing-hero {
    gap: 16px;
  }
  .hero-row {
    gap: 16px;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-title-support {
    font-size: 3rem;
  }
  .landing-hero > .first {
    margin-right: 80px;
  }
  .landing-hero > .second {
    margin-left: 100px;
  }
  .landing-hero > .third {
    margin-right: 50px;
  }
  .landing-hero > .fourth {
    margin-left: 40px;
  }
  .scroll-down {
    top: 20%;
  }
  .scroll-title {
    font-size: 8rem;
  }
  .landing-section-title {
    font-size: 5rem;
  }
  .landing-project-section {
    gap: 60px;
  }
  .project-image-container {
    height: 240px;
  }
  .project-image-blocker {
    height: 240px;
  }
  .project-title {
    font-size: 4rem;
    margin-top: -40px;
    margin-bottom: 16px;
  }
  .project-button {
    margin-top: -16px;
  }
}
@media screen and (max-width: 420px) {
  .landing-hero {
    gap: 8px;
  }
  .hero-row {
    gap: 8px;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-title-support {
    font-size: 2rem;
  }
  .landing-hero > .first {
    margin-right: 80px;
  }
  .landing-hero > .second {
    margin-left: 100px;
  }
  .landing-hero > .third {
    margin-right: 50px;
  }
  .landing-hero > .fourth {
    margin-left: 40px;
  }
  .scroll-down {
    display: none;
  }
  .work-title-section {
    padding: 0px 36px 160px 36px;
  }
  .project-title {
    margin-top: -24px;
    font-size: 3rem;
  }
  .project-description {
    font-size: 0.8rem;
    width: 180px;
  }
}
/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.about-hero {
  min-width: 100%;
  padding: 120px 148px 0px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.about-hero-col-1 {
  min-width: 40%;
  height: 800px;
  display: flex;
  align-items: center;
}

.about-hero-col-2 {
  min-width: 60%;
  height: 800px;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
}

.absolute {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.reverse {
  flex-direction: row-reverse;
}

.image-container {
  width: 100%;
}

.image-1 {
  height: 800px;
}

.image-2 {
  height: 600px;
}

.image-3 {
  height: 800px;
}

.image-4 {
  height: 600px;
}

.image-5 {
  height: 1400px;
}

.margin-offset {
  margin-top: 200px;
}

.about-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.model-container {
  width: 100%;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
}

.about-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 8.5rem;
  color: rgb(255, 255, 255);
}

.about-subtitle {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  line-height: 6.5rem;
}

.about-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  line-height: 1.8rem;
  width: 480px;
}

@media screen and (max-width: 1280px) {
  .about-hero {
    align-items: start;
    margin-bottom: 100px;
    padding: 120px 36px 0px 36px;
  }
  .about-title {
    font-size: 6rem;
  }
  .about-description {
    font-size: 1.5rem;
    width: 400px;
  }
  .about-hero-col-2 {
    width: 50%;
    height: 720px;
  }
  .about-hero-col-1 {
    width: 50%;
    height: 720px;
  }
  .about-subtitle {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .image-1 {
    height: 400px;
  }
  .image-2 {
    height: 200px;
  }
  .image-3 {
    height: 400px;
  }
  .image-4 {
    height: 200px;
  }
  .image-5 {
    height: 600px;
  }
  .margin-offset {
    margin-top: 140px;
  }
}
@media screen and (max-width: 1024px) {
  .about-hero {
    padding: 120px 36px 0px 36px;
  }
  .about-hero-col-2 {
    height: 600px;
  }
  .about-hero-col-1 {
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .about-hero {
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  .about-hero-col-1 {
    width: 100%;
    height: auto;
  }
  .about-hero-col-2 {
    width: 100%;
    height: 400px;
  }
  .absolute {
    position: static;
    gap: 24px;
  }
  .about-title {
    font-size: 3rem;
    margin-top: -24px;
  }
  .about-description {
    width: 100%;
  }
  .about-subtitle {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .margin-offset {
    margin-top: 0px;
  }
}
@media screen and (max-width: 420px) {
  .about-title {
    margin-top: 16px;
  }
}
.experience-header {
  width: 100%;
  padding: 200px 148px 0px 148px;
  margin: 0px 0px 400px 0px;
}

.learning-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 40px;
}

.experience-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  gap: 60px;
  border-radius: 40px;
}

.capability-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 40px;
}

.experience-profile {
  min-width: 24%;
  display: flex;
  align-items: center;
  gap: 36px;
}

.centered-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.left-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-image {
  width: 100px;
  height: auto;
}

.separator {
  min-width: 1px;
  min-height: 100%;
  background-color: rgb(77, 94, 114);
  border-radius: 100%;
}

.experience-list {
  list-style-type: disc;
}

.scroll-down-experience {
  position: absolute;
  top: 12%;
  right: -2%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(111, 255, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.scroll-down-experience:hover {
  transform-origin: center;
  width: 200px;
  height: 200px;
  top: 14.5%;
  right: 3%;
  background-color: rgb(111, 255, 212);
}

.experience-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 36px;
}

.centered-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.2rem;
  text-align: center;
}

.centered-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .experience-header {
    padding: 200px 36px 0px 36px;
    width: 90%;
  }
  .learning-tile {
    width: 100%;
    padding: 36px;
    gap: 24px;
  }
  .profile-image {
    width: 60px;
  }
  .centered-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .centered-description {
    font-size: 0.8rem;
  }
  .experience-tile {
    padding: 36px;
    gap: 24px;
  }
  .experience-profile {
    min-width: 24%;
    gap: 24px;
    flex-direction: column;
    align-items: start;
  }
  .experience-description {
    width: 60%;
  }
  .left-text-container {
    gap: 4px;
  }
  .experience-list {
    margin-left: 24px;
  }
  .capability-tile {
    padding: 36px;
    gap: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .scroll-down-experience {
    top: 16%;
    width: 300px;
    height: 300px;
  }
  .experience-subtitle {
    font-size: 2rem;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .experience-tile {
    flex-direction: column;
    align-items: center;
  }
  .experience-profile {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .experience-description {
    width: 100%;
  }
  .separator {
    min-width: 100%;
    min-height: 1px;
  }
  .scroll-down-experience {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .experience-subtitle {
    font-size: 1.5rem;
  }
  .experience-profile {
    flex-direction: column;
    align-items: center;
  }
  .left-text-container {
    align-items: center;
    text-align: center;
  }
}
.contact-header {
  width: 100%;
  padding: 240px 148px 0px 148px;
}

.contact-section-container {
  width: 100%;
  padding: 0px 148px;
}

.accent-circle {
  position: absolute;
  top: 20%;
  right: -10%;
  width: 640px;
  height: 640px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(111, 255, 212);
}

.contact-outline {
  width: 80px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin-top: 12px;
  transform-origin: top left;
  transform: scale(0);
  transition: all 0.5s;
}

.mb-160 {
  margin-bottom: 160px;
}

.contact-text-container {
  display: flex;
  gap: 60px;
}

.contact-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.contact-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .contact-header {
    padding: 240px 36px 0px 36px;
  }
  .contact-section-container {
    padding: 0px 36px;
  }
  .mb-160 {
    margin-bottom: 80px;
  }
  .accent-circle {
    width: 400px;
    height: 400px;
    top: 30%;
    right: -12%;
  }
  .contact-text-container {
    gap: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .mb-160 {
    margin-bottom: 80px;
  }
  .contact-text-container {
    flex-direction: column;
    gap: 36px;
  }
}
@media screen and (max-width: 420px) {
  .contact-text {
    font-size: 2rem;
  }
}
.cursor-container {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cursor {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  transition: all 0.4s;
}

.project-header {
  width: 100%;
  padding: 100px 148px 0px 148px;
  margin: 0px 0px 200px 0px;
}

.header-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 16rem;
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 100px;
}

.header-image {
  max-width: 100%;
  height: 960px;
  border-radius: 40px;
  margin-top: 180px;
  margin-bottom: 36px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 48px;
  gap: 16px;
}

.link-icon {
  width: 24px;
  height: auto;
}

.charm {
  background-image: url(@/assets/charm/header.png);
  background-position: center;
  background-size: cover;
}

.content-image {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}

.external-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.external-button:hover {
  transform: scale(1.2) rotate(-10deg);
}

.project-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-subtitle-box {
  width: 50%;
}

.project-info {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.text-gap {
  gap: 8px;
}

.col-title {
  width: 30%;
}

.video-wrapper {
  height: 920px;
  margin-bottom: 16px;
  border-radius: 40px;
  overflow: hidden;
  margin: 0px;
}

.video-wrapper-sm {
  height: 400px;
  margin-bottom: 16px;
  border-radius: 40px;
  overflow: hidden;
  margin: 0px;
}

.content-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mb-36 {
  margin-bottom: 36px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.takeaway-box {
  width: 50%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-hidden {
  opacity: 0;
  transform: translate(-100px, 0px);
  transition: all 1s;
}

.content-reveal {
  opacity: 1;
  transform: translate(0px, 0px);
}

.project-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 1.8rem;
}

.detail-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.detail-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
  text-decoration: none;
}

.section-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  line-height: 6.5rem;
  width: 90%;
}

@media screen and (max-width: 1280px) {
  .project-header {
    padding: 100px 36px 0px 36px;
  }
  .header-title {
    font-size: 10rem;
    margin-left: 40px;
  }
  .header-image {
    height: 600px;
    margin-top: 100px;
    padding: 36px;
  }
  .project-subtitle-box {
    width: 60%;
  }
  .project-info {
    width: 30%;
  }
  .project-subtitle {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .detail-title {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .detail-description {
    font-size: 0.8rem;
  }
  .video-wrapper {
    height: 540px;
  }
  .video-wrapper-sm {
    height: 240px;
  }
  .section-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .takeaway-box {
    padding: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .project-header {
    margin-bottom: 100px;
  }
  .header-image {
    height: 520px;
    padding: 36px;
  }
  .project-info {
    gap: 8px;
  }
  .video-wrapper {
    height: 400px;
  }
  .video-wrapper-sm {
    height: 200px;
  }
  .col-title {
    width: 40%;
  }
  .section-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .takeaway-box {
    padding: 36px;
  }
  .mb-36 {
    margin-bottom: 24px;
  }
  .image-container {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .project-header {
    margin-bottom: 80px;
  }
  .header-title {
    position: static;
    font-size: 5rem;
    margin-left: 0px;
  }
  .header-image {
    margin-top: 24px;
    height: 300px;
    gap: 8px;
    padding: 24px;
  }
  .external-button {
    padding: 8px;
  }
  .project-infos {
    flex-direction: column;
    gap: 16px;
  }
  .project-subtitle-box {
    width: 100%;
  }
  .project-info {
    width: 100%;
  }
  .video-wrapper {
    height: 200px;
  }
  .col-title {
    width: 100%;
  }
  .section-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .takeaway-box {
    width: 100%;
  }
  .mb-36 {
    margin-bottom: 16px;
  }
  .image-container {
    gap: 16px;
  }
}
@media screen and (max-width: 420px) {
  .header-title {
    font-size: 3rem;
  }
  .header-image {
    height: 160px;
  }
  .project-subtitle {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .text-gap {
    gap: 0px;
  }
  .detail-title {
    font-size: 0.6rem;
  }
  .detail-description {
    font-size: 0.6rem;
  }
  .video-wrapper {
    height: 140px;
  }
  .video-wrapper-sm {
    height: 140px;
  }
  .section-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .image-container {
    gap: 8px;
  }
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 27, 30);
  cursor: none;
  width: 100%;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  cursor: none;
}

a {
  cursor: none;
}

.section-container {
  width: 100%;
  margin-bottom: 200px;
  padding: 0px 148px;
}

.col-system {
  width: 100%;
  display: flex;
  gap: 36px;
}

.row-system {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-half-sm {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-main {
  width: 70%;
}

.col-sub {
  width: 30%;
}

.large-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 12rem;
  color: rgb(255, 255, 255);
}

.left-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.2rem;
}

.left-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
}

@media screen and (max-width: 1280px) {
  .section-container {
    margin-bottom: 160px;
    padding: 0px 36px;
  }
  .col-main {
    width: 100%;
  }
  .col-sub {
    width: 0%;
  }
  .large-title {
    font-size: 7rem;
  }
  .left-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .left-description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .large-title {
    font-size: 5rem;
  }
  .section-container {
    padding: 0px 36px;
    margin-bottom: 100px;
  }
  .col-system {
    gap: 24px;
  }
  .col-half {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .section-container {
    margin-bottom: 80px;
  }
  .col-system {
    flex-direction: column;
    gap: 16px;
  }
  .col-half {
    width: 100%;
    gap: 16px;
  }
  .col-half-sm {
    width: 100%;
  }
  .large-title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 420px) {
  .large-title {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */