// Import Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=MuseoModerno:ital,wght@0,600;1,300&display=swap');

// Import Files
@import "./navbar";
@import "./landing";
@import "./scrollbar";
@import "./about";
@import "./experience";
@import "./contact";
@import "./cursor";
@import "./project";

*{
    box-sizing: border-box;
    user-select: none;
    cursor: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(24, 27, 30, 1);
    cursor: none;
    width: 100%;
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    cursor: none;
}

a{
    cursor: none;
}

.section-container{
    width: 100%;
    margin-bottom: 200px;
    padding: 0px 148px;
}

.col-system{
    width: 100%;
    display: flex;
    gap: 36px;
}

.row-system{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.col-half{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.col-half-sm{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col-main{
    width: 70%;
}

.col-sub{
    width: 30%;
}

// Typography
.large-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 12rem;
    color: rgba(255,255,255,1);
}

.left-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(255,255,255,1);
    line-height: 1.2rem;
}

.left-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    line-height: 1.2rem;
}

// Responsive 

@media screen and (max-width: 1280px){
    .section-container{
        margin-bottom: 160px;
        padding: 0px 36px;
    }
    .col-main{
        width: 100%;
    }
    .col-sub{
        width: 0%;
    }
    .large-title{
        font-size: 7rem;
    }
    .left-title{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .left-description{
        font-size: .8rem;
    }
}

@media screen and (max-width: 1024px){
    .large-title{
        font-size: 5rem;
    }
    .section-container{
        padding: 0px 36px;
        margin-bottom: 100px;
    }
    .col-system{
        gap: 24px;
    }
    .col-half{
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .section-container{
        margin-bottom: 80px;
    }
    .col-system{
        flex-direction: column;
        gap: 16px;
    }
    .col-half{
        width: 100%;
        gap: 16px;
    }
    .col-half-sm{
        width: 100%;
    }
    .large-title{
        font-size: 4rem;
    }
}

@media screen and (max-width: 420px) {
    .large-title{
        font-size: 2rem;
    }
}