// Import Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=MuseoModerno:wght@600&display=swap');

// Import Files
@import "./navbar";
@import "./landing";
@import "./scrollbar";
@import "./about.scss";
@import "./experience";
@import "./project";

*{
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(24, 27, 30, 1);
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.section-container{
    width: 100%;
    margin-bottom: 200px;
    padding: 0px 148px;
}

.col-system{
    width: 100%;
    display: flex;
    gap: 36px;
}

.row-system{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.col-half{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.col-half-sm{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col-main{
    width: 70%;
}

.col-sub{
    width: 30%;
}

// Typography
.large-title{
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 12rem;
    color: rgba(255,255,255,1);
}

.left-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(255,255,255,1);
    line-height: 1.2rem;
}

.left-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(112,126,139,1);
    line-height: 1.2rem;
}