@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=MuseoModerno:wght@600&display=swap");
nav {
  width: 100%;
  padding: 36px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.nav-group {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.router-list-item {
  display: flex;
  align-items: center;
}

.nav-link-group {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 32px;
}

.social-link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-link {
  width: 20px;
  height: auto;
}

.footer {
  min-width: 100%;
  padding: 100px 148px 60px 148px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  align-items: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgb(61, 68, 75);
}

.router-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
}

.landing-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hero-row {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
}

#text:has(.over:hover) .hero-title:not(.over:hover) {
  opacity: 0.1;
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  to {
    background-position: 0% center;
  }
}
.over:hover {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.name:hover {
  transform: scale(1.2);
}

.design:hover {
  transform: scale(1.2);
}

.develop:hover {
  transform: scale(1.2);
}

.draw:hover {
  transform: scale(1.2);
}

.landing-image-container {
  width: 24%;
  height: 560px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  translate: -24% -24%;
  overflow: hidden;
  border-radius: 40px;
}

.landing-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transform: scale(1.5);
  transition: all 1s;
  position: absolute;
}

.work-title-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0px 400px 0px;
}

.landing-project-section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 320px;
  padding: 0px 148px;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-subtitle-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 100px 0px;
}

.contact-title-section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 200px 0px;
  text-decoration: none;
}

.scroll-title-container {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  transform-origin: center;
  transform: rotate(-3deg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scroll-row {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.scroll-title-container > .scroll-row > .row-1 {
  animation: scrollTextRight 20s infinite linear;
}

.scroll-title-container > .scroll-row > .row-2 {
  animation: scrollTextLeft 20s infinite linear;
}

.project-section {
  display: flex;
  align-items: center;
  gap: 60px;
}

.project-image-container {
  width: 80%;
  height: 720px;
}

.project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.detail-container {
  width: 20%;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.project-button {
  padding: 16px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}

.scroll-down {
  position: absolute;
  top: 12%;
  left: -4%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(111, 255, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 1s;
}

.landing-section-title, .project-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 12rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.project-title {
  margin-left: -600px;
  margin-bottom: 60px;
}

.project-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  line-height: 1rem;
}

.project-tags {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(111, 255, 212);
}

.contact-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  text-align: center;
  line-height: 1.2rem;
}

.scroll-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 12rem;
  color: rgba(112, 126, 139, 0);
  white-space: nowrap;
  -webkit-text-stroke: 1px #3D444B;
}

@keyframes scrollTextRight {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}
@keyframes scrollTextLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(50%);
  }
}
/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.about-hero {
  min-width: 100%;
  padding: 100px 148px 0px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.about-hero-col-1 {
  min-width: 40%;
  height: 800px;
  display: flex;
  align-items: center;
}

.about-hero-col-2 {
  min-width: 60%;
  height: 800px;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
}

.absolute {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.reverse {
  flex-direction: row-reverse;
}

.image-container {
  width: 100%;
}

.about-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.model-container {
  width: 100%;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
}

.about-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 8.5rem;
  color: rgb(255, 255, 255);
}

.about-subtitle {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  line-height: 6.5rem;
}

.about-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(112, 126, 139);
  text-decoration: none;
  line-height: 1.8rem;
  width: 480px;
}

.experience-header {
  width: 100%;
  padding: 200px 148px 0px 148px;
  margin: 0px 0px 400px 0px;
}

.learning-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 40px;
}

.experience-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  gap: 60px;
  border-radius: 40px;
}

.capability-tile {
  width: 100%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 40px;
}

.experience-profile {
  min-width: 24%;
  display: flex;
  align-items: center;
  gap: 36px;
}

.centered-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.left-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-image {
  width: 100px;
  height: auto;
}

.separator {
  min-width: 1px;
  min-height: 100%;
  background-color: rgb(77, 94, 114);
  border-radius: 100%;
}

.experience-list {
  list-style-type: disc;
}

.experience-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 36px;
}

.centered-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.2rem;
  text-align: center;
}

.centered-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
  text-align: center;
}

.cursor-container {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cursor {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  transition: all 0.4s;
}

.project-header {
  width: 100%;
  padding: 100px 148px 0px 148px;
  margin: 0px 0px 200px 0px;
}

.header-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 16rem;
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 100px;
}

.header-image {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  margin-top: 180px;
  margin-bottom: 36px;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
}

.project-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-subtitle-box {
  width: 50%;
}

.project-info {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.text-gap {
  gap: 8px;
}

.video-wrapper {
  height: 920px;
  margin-bottom: 16px;
  border-radius: 40px;
  overflow: hidden;
  margin: 0px;
}

.video-wrapper-sm {
  height: 400px;
  margin-bottom: 16px;
  border-radius: 40px;
  overflow: hidden;
  margin: 0px;
}

.content-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mb-36 {
  margin-bottom: 36px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.takeaway-box {
  width: 50%;
  padding: 60px;
  background-color: rgb(46, 52, 57);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 1.8rem;
}

.detail-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.detail-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
  text-decoration: none;
}

.section-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  line-height: 6.5rem;
  width: 90%;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 27, 30);
  cursor: none;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  cursor: none;
}

a {
  cursor: none;
}

.section-container {
  width: 100%;
  margin-bottom: 200px;
  padding: 0px 148px;
}

.col-system {
  width: 100%;
  display: flex;
  gap: 36px;
}

.row-system {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-half-sm {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-main {
  width: 70%;
}

.col-sub {
  width: 30%;
}

.large-title {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
  font-size: 12rem;
  color: rgb(255, 255, 255);
}

.left-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 1.2rem;
}

.left-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(112, 126, 139);
  line-height: 1.2rem;
}/*# sourceMappingURL=style.css.map */