// Import Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=MuseoModerno:wght@600&display=swap');

// Import Files
@import "./navbar";
@import "./landing";
@import "./scrollbar";
@import "./cursor.scss";
@import "./about.scss";

*{
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(24, 27, 30, 1);
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}